.skills {
    background-color: rgb(250, 250, 250);
    padding: 1rem;
    display: grid;
    gap: 1rem;
}

.all-skills {
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    flex-flow: row wrap;
    list-style-position: outside;
}

.skill-item {
    list-style: none;
    display: grid;
    grid-template-columns: 12px 1fr;
    gap: 2px;
}

.sphere-icon {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* .overlay.skills-section {
    z-index: 0;
}

.modal-content__wrapper.skills-section {
    z-index: 3;
} */

.active-add-skills .modal.add-skills-section {
    visibility: visible;
    opacity: 1;
}

.modal.add-skills-section {
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.active-skills .modal.skills-section {
    visibility: visible;
    opacity: 1;
}

.modal.skills-section {
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}