.modal-content.rel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    line-height: 1.4;
    background: #f1f1f1;
    padding: 2rem;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    min-height: 150px;
}