.relevant {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(250, 250, 250);
    padding-right: 0;
    width: 100%;
}

.all-projects.rel {
    display: grid;
    gap: 1rem;
    width: 100%;
}

.project-name {
    font-size: 1rem;
    font-weight: 600;
}

.project-card {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: .5rem;
    width: 100%;
}

.project-card.removeBorder {
    border: none;
    padding-bottom: .5rem;
    width: 100%;
}

.project-duration {
    font-size: .85rem;
}

.project-summary {
    margin-top: .5rem;
    font-size: .85rem;
    color: #707070;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    width: 95%;
}

.relevant-edit-section {
    padding-right: 1rem;
    background-color: lightgreen;
}

.active-add-relevant .modal.add-relevant-section {
    visibility: visible;
    opacity: 1;
}

.modal.add-relevant-section {
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.active-relevant .modal.relevant-section {
    visibility: visible;
    opacity: 1;
}

.modal.relevant-section {
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}